@import url('./spectre.min.css');
@import url('./spectre-exp.min.css');

$link-color: #5755d9;

$bg-light-color: #fff;
$bg-light-text-color: #222;
$bg-dark-color: #757871;
$bg-dark-text-color: #fefefe;

$btn-primary-bg: #9b4dca;

$footer-bg: #333;

$topnav-bg: #333;
$topnav-link-color: #f1d9fc;
$topnav-link-color-hover: #e793ff;

$section-width: 980px;

/**
 * Globabl styles
 */
body {
  background-color: $bg-light-color;
}
a {
  text-decoration: underline;
}

/**
 * Columns
 */
.columns {
  &.flex-center {
    justify-content: center;
    align-items: center;

    .column {
      text-align: center;
    }

    a {
      display: inline-block;
    }
  }
}


/**
 * Top navigation bar
 */
.topnav {
  background-color: $topnav-bg;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 300px;
    padding: 8px 16px;
  }

  .btn.btn-link {
    color: $topnav-link-color;

    &:hover, &:active {
      color: $topnav-link-color-hover;
    }
  }

  &.secondary {
    background-color: #444;
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
  }
}

.topnav.secondary .navbar-center {
  margin: 0 auto;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .center-nav {
    margin: 0.75rem 0;
  }
}

@media screen and (min-width: 600px) {
  .topnav.secondary .navbar-center {
    margin: 0 auto;
    flex-direction: row;

    .center-nav {
      margin: 0 0.75rem;
    }
  }
}

/**
 * Button overrides
 */
.btn {
  border-color: #dedede;

  &.btn-primary {
    background: $btn-primary-bg;
    border-color: #dedede;

    &:hover, &:active {
      background: lighten($btn-primary-bg, 5%);
      border-color: #dedede;
    }
  }
}

.ticket-btn {
  margin: 1rem;
}

/**
 * Added styles of site
 */
.intro {
  padding: 3rem 0;
  background: url('../img/header-bg.jpg') #3d4949 bottom center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  a {
    color: white;
  }

  .btn {
    background-color: transparent;
    border-color: white;

    &:hover, &:active {
      border-color: #dedede;
    }

    &.btn-primary {
      background: $btn-primary-bg;
      border-color: #dedede;

      &:hover, &:active {
        background: lighten($btn-primary-bg, 5%);
        border-color: #dedede;
      }
    }
  }
}


.schedule_talk-title {
  font-size: 1.1rem;
  text-decoration: none;
}

.schedule_talk-speaker {
  font-size: 0.8rem;
}

.schedule-block {
  text-decoration: none;
  padding: 2rem 1rem;
}

/**
 * Section content chunks
 */
.section-content {
  padding: 4rem 0;
  font-size: 130%;

  &.hr-bottom {
    border-bottom: 2px solid black;
  }

  .inside {
    margin: 0 auto;
    width: 100%;
    max-width: $section-width;
    padding: 0px 1.5rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  &#schedule > .inside {
    padding: 0;
  }
}

hr.section-divider {
  width: 100%;
  max-width: $section-width;
  height: 6px;
  background: url('../img/hr-12.png') repeat-x 0 0;
  border: 0;
}

.bg-light {
  background-color: $bg-light-color;
  color: $bg-light-text-color;
}
.bg-dark {
  background-color: $bg-dark-color;
  color: $bg-dark-text-color;

  a {
    color: lighten($link-color, 20%);
  }
}

footer.credits {
  background: $topnav-bg;
  padding: 3rem 0;
  text-align: center;
}


.schedule {
  &_timeslot {
    background-color: rgba(60, 15, 104, 0.7);
    color: #fff;
  }

  &_track-a {
    background-color: rgba(155, 77, 202, 0.35);
  }

  &_track-b {
    background-color: #ddd;
  }
}

.spacer {
  height: 5rem;
}

/** Sponsors **/
.sponsors {
  .sponsor-lunch,
  .sponsor-gold,
  .sponsor-silver,
  .sponsor-bronze,
  .sponsor {
    padding: 10px;
    border: 14px solid transparent;
    margin: 10px;
  }

  .sponsor-lunch {
    border-color: #76569566;
  }
  .sponsor-gold {
    border-color: #ffd70066;
  }
  .sponsor-silver {
    border-color: #c0c0c04d;
  }
  .sponsor-bronze {
    border-color: #f2a14f4d
  }
  .sponsor {
    border-color: #eee;
  }
}

@media screen and (max-width: 480px) {
  .sponsors a {
    display: block;
  }
}
